# === Application Settings ===
NODE_ENV=development
PORT=3005
APP_NAME=my-nest-app
FRONTEND_URL=http://localhost:3000

# === Database ===
DB_HOST=db
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=1234
DB_NAME=mydb
DB_SSL=false

# === Docker Compose ===
COMPOSE_PROJECT_NAME=myapp
APP_EXTERNAL_PORT=3000
DB_EXTERNAL_PORT=5432
DOCKER_BUILD_TARGET=development
SALT_ROUNDS=10

# === Observability (Phase 1) ===
PROMETHEUS_EXTERNAL_PORT=9090
GRAFANA_EXTERNAL_PORT=3001
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

# === Cloudinary ===
CLOUDINARY_CLOUD_NAME="defkx8gbe"
CLOUDINARY_API_KEY="359254391667679"
CLOUDINARY_API_SECRET="TLhn1uG_tF7C0sdfsdftE"

# === Mail Configuration ===
MAIL_PROVIDER=console
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM_NAME="Aponika"
MAIL_FROM_EMAIL="noreply@aponika.com"

# === JWT Secrets ===
JWT_SECRET_RESET_REQUEST="8da1a40c80f597bf04c4d3711f58ba512a3615ff1b4a82a9b1ed8ad378c7cd56c9b50c1bad4c1fc84c8d24ffff08345ce84603c0450e8903201beb6a0a6bfa09"
JWT_SECRET_RESET_ACCESS="cef7d86e2f0fa1ff39bff15cbcf6ddca235dc0533a9a0d43c00bca7d0ceef9dd75d240eac2e819eea264b841a78b0c64819da9fa3208bc6344a0741a149b9e20"

# === Session & Cookie ===
SESSION_MAX_AGE=604800000
COOKIE_DOMAIN=localhost

# === Admin JWT ===
JWT_ADMIN_ACCESS_SECRET="generate_a_long_random_string_here_at_least_32_chars"
JWT_ADMIN_ACCESS_EXP="15m"
JWT_ADMIN_REFRESH_SECRET="generate_another_long_random_string_here_at_least_32_chars"
JWT_ADMIN_REFRESH_EXP="7d"

# === User JWT ===
JWT_USER_ACCESS_SECRET="generate_a_long_random_string_here_at_least_32_chars_for_user_access"
JWT_USER_ACCESS_EXP="15m"
JWT_USER_REFRESH_SECRET="generate_another_long_random_string_here_at_least_32_chars_for_user_refresh"
JWT_USER_REFRESH_EXP="7d"
