# === Application Settings ===
NODE_ENV=development
PORT=3005
APP_NAME=my-nest-app

# === Database ===
DB_HOST=db
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=1234
DB_NAME=mydb
DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# === Docker Compose ===
COMPOSE_PROJECT_NAME=myapp
APP_EXTERNAL_PORT=3000
DB_EXTERNAL_PORT=5432

#===hash===
SALT_ROUNDS=10

#email
GMAIL_USER="shafayet769@gmail.com"
GMAIL_APP_PASSWORD="beqw pkgb coxk pmqy"
DEFAULT_FROM_EMAIL="shafayet769@gmail.com"

CLOUDINARY_CLOUD_NAME="defkx8gbe"
CLOUDINARY_API_KEY="359254391667679"
CLOUDINARY_API_SECRET="TLhn1uG_tF7C0Mq3h-9psvy6itE"

# === Mail Configuration ===
MAIL_PROVIDER=console
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM_NAME="ByteForge Auth"
MAIL_FROM_EMAIL="noreply@byteforge.com"

JWT_SECRET_RESET_REQUEST="8da1a40c80f597bf04c4d3711f58ba512a3615ff1b4a82a9b1ed8ad378c7cd56c9b50c1bad4c1fc84c8d24ffff08345ce84603c0450e8903201beb6a0a6bfa09"
JWT_SECRET_RESET_ACCESS="cef7d86e2f0fa1ff39bff15cbcf6ddca235dc0533a9a0d43c00bca7d0ceef9dd75d240eac2e819eea264b841a78b0c64819da9fa3208bc6344a0741a149b9e20"



